[submodule "modules/m-lib"]
	path = modules/m-lib
	url = git@github.com:mmesh/m-lib.git
[submodule "modules/m-controller"]
	path = modules/m-controller
	url = git@github.com:mmesh/m-controller.git
[submodule "modules/m-node"]
	path = modules/m-node
	url = git@github.com:mmesh/m-node.git
[submodule "modules/m-cli"]
	path = modules/m-cli
	url = git@github.com:mmesh/m-cli.git
[submodule "modules/m-manager"]
	path = modules/m-manager
	url = git@github.com:mmesh/m-manager.git
[submodule "modules/m-api"]
	path = modules/m-api
	url = git@github.com:mmesh/m-api.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:x6a/scripts.git
[submodule "build/taskfiles"]
	path = build/taskfiles
	url = git@github.com:x6a/taskfiles.git
